<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        {% block stylesheets %}
            <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="{{ asset('styles.css', 'css') }}">
        {% endblock %}

        <title>{% block title %}{% endblock %} - PWGram</title>
    {% endblock %}
</head>
<body>

{% block header %}
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">PWGram</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-right">
                {% block buttons %}

                    {% if user is defined %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a data-toggle="modal" data-target="#edit-profile-modal" class="nav-item nav-link" href="">{#{{  notifications.number }}#} notifications</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a data-toggle="modal" data-target="#edit-profile-modal" class="nav-item nav-link" href="">Upload</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a data-toggle="modal" data-target="#edit-profile-modal" class="nav-item nav-link" href="">{#{{ user.name }}#}</a>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a data-toggle="modal" data-target="#edit-profile-modal" class="nav-item nav-link" href="">Logout</a>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <a data-toggle="modal" data-target="#login-modal" class="nav-item nav-link" href="">Login</a>
                        </button>
                    {% endif %}

                {% endblock %}
            </div>
        </div>
    </nav>

    {% block buttoncode %}
        {% if user is defined %}
            <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <h1>Edit your Profile</h1><br>
                        <form method="post" action="/edit">
                            <input type="text" name="user" placeholder="New Username">
                            <input type="password" name="pass" placeholder="New Password">
                            <input type="date" name="birthdate">
                            <input type="file" name="img_path" placeholder="New Profile Image">
                            <input type="submit" name="edit" class="login loginmodal-submit" value="Save Changes">
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="loginmodal-container">
                        <h1>Login to Your Account</h1><br>
                        <form method="post" href="grup20.com">
                            <input type="text" name="user" placeholder="Username / Email">
                            <input type="password" name="pass" placeholder="Password">
                            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                        </form>

                        <div class="login-help">
                            <a href="/signup">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}

<div id="content">{% block content %}{% endblock %}</div>

<footer class="fixed-bottom text-center">
        <span class="text-muted">
            {% block footer %}
                &copy; Copyright 2017 - {{ app.name }} - Roger Marrugat, Marta Zapatero
            {% endblock %}
            <p></p>
        </span>
</footer>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>    <script src="{{ asset('/app.js', 'js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

</body>
</html>