{% extends "base.twig" %}


{# PAGINA PER VEURE ELS COMENTARIS QUE HAS FET #}

{% block title %}{{ user.username }}'s comments{% endblock %}

{% block content %}

    <h1>{{ user.username }}'s comments</h1>

    <ul class="comment-list list-unstyled">

    {% for comment in comments %}
        <li>
            <a href="/image/{{ comment.image_id }}">{{ comment.title }}</a>
            <p>{{ comment.text }}</p>
            <a href="/remove-comment/{{ comment.id }}">Delete</a>
        </li>
        {% endfor %}

    </ul>


{% endblock %}