{% extends "base.twig" %}


{# PAGINA PER VEURE ELS COMENTARIS QUE HAS FET #}

{% block title %}USERNAME{# {{ user.name }} #}'s comments{% endblock %}

{% block content %}

    <h1>USERNAME{# {{ user.name }} #}'s comments</h1>

    <ul class="comment-list list-unstyled">

    {# {% for image in images %} #}
        {% for i in 0..5 %}
        <li>
            <a href="{# /img/{{ image.id }} #}TITLE"></a>
            <p>{# {{ image.comment }} #}Your comment here</p>
            <a href="{# /comment/{{ image.comment.id }}/delete #}">Delete</a>
        </li>
        {% endfor %}

    </ul>


{% endblock %}