{% extends "base.twig" %}

{# PAGINA PER VEURE INFO SOBRE UNA IMATGE = FOTO, COMMENTS, LIKES, ETC #}


{% block title %}Viewing image{% endblock %}

{% block content %}
    <figure id="{{ img.id }}">
        <img src="{{ img.img_path }}" alt="{{ img.title }}" width="400" height="300">
        <figcaption>
            <a href="/user/{{ img.user_id }}">{{ user2.username }}</a>
            <span class="likes">{{ img.likes }}</span><span class="visits">{{ img.visits }}</span>
            <a href="/image/{{ img.id }}">{{ img.title }}</a> <span class="date">{{ img.days }} days ago</span>
            {% if user is defined %}
                <a href="/like/{{ img.id }}">Like</a>
                <form method="post" action="/comment/{{ img.id }}">
                    <div class="form-group comment">
                        <input type="text" name="text" placeholder="Comment" required>
                    </div> <input type="submit" name="edit" value="Comment">
                </form>
            {% endif %}
            {% block commentlist %}
                {% include 'CommentList.twig' %}
            {% endblock %}
            <a href="{# more images #}">Load more comments</a>
        </figcaption>
    </figure>

{% endblock %}