{% for img in most_recent_images %}
    <li class="col-md-6 col-lg-4">
        <figure id="{{ img.id }}">
            <img src="{{ img.img_path }}" alt="{{ img.title }}" width="400" height="300">
            <figcaption>
                <a href="/user/{{ img.user_id }}/1">{{ img.username }}</a>
                <div id="reload-{{ img.id }}">
                    {% include 'ReloadLike.twig' %}
                </div><span class="visits">{{ img.visits }}</span>
                <a href="/image/{{ img.id }}">{{ img.title }}</a> <span class="date">{{ img.created_at }}</span>
                <div class="comment"> <a href="/user/{{ img.userc_id }}">{{ img.usernamec }}</a><span>{{ img.textc }}</span></div>
                {% if user is defined %}
                    <a href="/like/{{ img.id }}" class="like" id="{{ img.id }}">Like</a>
                    <form method="post" action="/comment/{{ img.id }}">
                        <div class="form-group comment">
                            <input type="text" name="text" placeholder="Comment" required>
                        </div> <input type="submit" name="edit" class="send-comment" id="{{ img.id }}" value="Comment">
                    </form>
                {% endif %}
            </figcaption>
        </figure>
    </li>
{% endfor %}