{% extends "base.twig" %}

{# PAGINA PER VEURE INFO SOBRE UNA IMATGE = FOTO, COMMENTS, LIKES, ETC #}


{% block title %}Viewing image{% endblock %}

{% block content %}
    <figure id="{{ img.id }}">
        <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="{{ img.title }}" width="400" height="300">
        <figcaption>
            <a href="{#link_al_user_profile#}">{{ user.username }}</a>
            <span class="likes">{{ img.likes }}</span><span class="visits">{{ img.visits }}</span>
            <a href="/image/{{ img.id }}">{{ img.title }}</a> <span class="date">{{ img.days }} days ago</span>
            {% if user is defined %}
                <a href="/like/{{ img.id }}">Like</a>
                <form method="post" action="/comment/{{ img.id }}">
                    <input type="text" name="user" placeholder="Comment">
                    <input type="submit" name="edit" value="Comment">
                </form>
            {% endif %}
            <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
            <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
            <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
            <a href="{# more images #}">Load more comments</a>
        </figcaption>
    </figure>

{% endblock %}