{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{#
{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 {text-transform: uppercase;}
    </style>
{% endblock %}
#}


{% block content %}
    <h1 class="text-center">Welcome to PWGram</h1>

    <h2 class="text-center">Most viewed images</h2>
    <ul id="top-list" class="img-list list-unstyled">
        <div class="row">
            {% for img in most_viewed_images %}
                <li class="col-sm-12 col-md-6 col-xl-4">
                    <figure id="{{ img.id }}" class="rounded">
                        <img src="{{ img.img_path }}" alt="{{ img.title }}" class="rounded">
                        <figcaption class="rounded">
                            {% block reload %}
                            <span class="box" id="reload-{{ img.id }}">
                                {% include 'ReloadLike.twig' %}
                            </span>
                            {% endblock %}<span class="box visits"><i class="fa fa-eye"></i>{{ img.visits }}</span>
                            <a href="/user/{{ img.user_id }}/1">{{ img.username }}</a> <span class="date">{{ img.created_at }}</span>
                            <a href="/image/{{ img.id }}" class="title">{{ img.title }}</a>
                            {% if user is defined %}
                                <a href="/like/{{ img.id }}" class="like" id="{{ img.id }}"><i class="fa fa-heart"></i>Like</a>
                                <form method="post" action="/comment/{{ img.id }}">
                                    <div class="form-group comment">
                                        <input type="text" name="text" class="form-control" placeholder="Comment" required>
                                    </div> <input type="submit" name="edit" class="send-comment form-control" id="{{ img.id }}" value="Comment">
                                </form>
                            {% endif %}
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}
        </div>
    </ul>

    <h2 class="text-center">Recent images</h2>

    <ul class="img-list list-unstyled" id="recent-list">
        <div class="row" id="recent-images">
            {% block imagelist %}
                {% include 'ImageList.twig' %}
            {% endblock %}
        </div>
    </ul>

    <p class="text-center"><a href="" id="load_more">Load more images</a></p>


{% endblock %}


