{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{#
{% block head %}
    {{ parent() }}
    <style type="text/css">
        h1 {text-transform: uppercase;}
    </style>
{% endblock %}
#}


{% block content %}
    <h1>Welcome to PWGram</h1>

    <h2>Most viewed images</h2>
    <ul id="top-list" class="img-list">
        <li>
            <figure id="{{ img.id }}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="{{ img.title }}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">{{ user2.username }}</a>
                    <span class="likes">{{ img.likes }}</span><span class="visits">{{ img.visits }}</span>
                    <a href="{#/image/{{ image.id }}#}">{{ img.title }}</a> <span class="date">{{ img.created_at }}</span>
                    {% if user is defined %}
                        <a href="/like/{{ img.id }}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
    </ul>

    <h2>Recent images</h2>

    <ul class="img-list" id="recent-list">
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_al_user_profile#}">User{# {{ user.name }}#}</a>
                    <span class="likes">0{# {{ img.likes }}#}</span><span class="visits">0{# {{ img.visits }} #}</span>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a> <span class="date">1/1/1{# {{ img.date }} #}</span>
                    <div class="comment"> <a href="{# /user/{{ user.id }} #}">Name{# {{ user.name }} #}</a><span>Hey cool photo</span></div>
                    {% if user is defined %}
                        <a href="{# /{{ img.id }}/like #}">Like</a>
                        <form method="post" action="/comment/{{ img.id }}">
                            <div class="form-group comment">
                                <input type="text" name="text" placeholder="Comment" required>
                            </div> <input type="submit" name="edit" value="Comment">
                        </form>
                    {% endif %}
                </figcaption>
            </figure>
        </li>
    </ul>

    <a href="{# more images #}">Load more images</a>
    <br><br><br><br><br>

{% endblock %}


