{% extends "base.twig" %}


{# PAGINA PER VEURE LES TEVES NOTIFICACIONS #}

{% block title %}{{ user.username }}'s notifications{% endblock %}

{% block content %}

    <h1>{{ user.username }}'s notifications</h1>

    <ul class="comment-list list-unstyled">

        {% for notification in notifications %}
            <li>
                {% if notification.is_like %}
                <p>User <a href="/user/{{ notification.user_id }}">{{ notification.username }}</a> has liked your
                    image <a href="/image/{{ notification.image_id }}">{{ notification.title }}</a>!</p>
                <a href="/remove-notification/{{ notification.id }}">Already Noticed</a>
                {% else %}
                <p>User <a href="/user/{{ notification.user_id }}">{{ notification.username }}</a> has commented your
                    image <a href="/image/{{ notification.image_id }}">{{ notification.title }}</a>!</p>
                <a href="/remove-notification/{{ notification.id }}">Already Noticed</a>
                {% endif %}
            </li>
        {% endfor %}

    </ul>


{% endblock %}