{% extends "base.twig" %}


{# PAGINA PER VEURE EL PERFIL D'UN USUARI AMB LES SEVES FOTOS #}

{% block title %}{{ user2.username }}'s profile{% endblock %}


{% block content %}

    <img src="{# {{ assets('{{ user.icon }}', images) }} #}" alt="Profile pic" height="200" width="200">
    <h1>{{ user2.username }}'s profile</h1>
    <p>{{ user2.num_images }} images</p>
    <p>{{ user2.comments }} comments</p>
    {% if user2.id == user.id %}
        <a href="/edit-profile">Edit profile</a>
        <a href="{# /{{ img.id }}/comments #}">See your comments</a>
    {% endif %}

    <h2>Published images</h2>
    <ul id="user-img" class="img-list">
        <li>
            <figure id="{# {{ img.id }} #}">
                <img src="/assets/img/default_portrait.png{# /img/{{ img.filename }} #}" alt="Titol{# {{ img.title }}#}" width="400" height="300">
                <figcaption>
                    <a href="{#link_a_la_imatge#}">Titol{# {{ img.title }}#}</a>
                    {# {% if user.id == this.id %} #}
                    {% if true  %}
                        <a href="{# /{{ img.id }}/edit #}">Edit</a>
                        <a href="{# /{{ img.id }}/delete #}">Delete</a>
                    {% endif %}
                </figcaption>
            </figure>
        </li>

    </ul>

{% endblock %}