{% extends "base.twig" %}


{# PAGINA PER VEURE EL PERFIL D'UN USUARI AMB LES SEVES FOTOS #}

{% block title %}{{ user2.username }}'s profile{% endblock %}


{% block content %}

    <img src="{{ user2.img_path }}" alt="Profile pic" class="rounded-circle profile-pic">
    <div class="profile-header">
        <h1>{{ user2.username }}'s profile</h1>
        <p>{{ user2.num_images }} images</p>
        <p>{{ user2.comments }} comments</p>


        <div class="profile-buttons">
            {% if user is defined and user2.id == user.id %}
                <!--<a href="/edit">Edit profile</a>-->
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    <a data-toggle="modal" data-target="#edit-profile-modal" class="nav-item nav-link" href="">Edit your profile</a>
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary boto-raro">
                    <a href="/comment-list/{{ user.id }}">See your comments</a>
                </button>
            {% endif %}
        </div>
    </div>
    <div class="form-control select">
        <select class="selector form-control" id="{{ user2.id }}" onchange="location = this.value;">
            <option>Order images by</option>
            <option value="/user/{{ user2.id }}/1">Order By Most Likes</option>
            <option value="/user/{{ user2.id }}/2">Order By Most Comments</option>
            <option value="/user/{{ user2.id }}/3">Order By Most Visits</option>
            <option value="/user/{{ user2.id }}/4">Order By Most Recent</option>
        </select>
    </div>
    <h2 class="text-center">Published images</h2>
    <ul id="user-img" class="img-list list-unstyled">
        <div class="row">
            {% for img in images %}
                <li class="col-sm-12 col-md-6 col-xl-4">
                    <figure id="{{ img.id }}" class="rounded">
                        <img src="{{ img.img_path }}" alt="{{ img.title }}" class="rounded">
                        <figcaption class="rounded">
                            <a href="/image/{{ img.id }}">{{ img.title }}</a>
                            {% if user is defined and user.id == user2.id %}
                                <div class="image-buttons">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a data-toggle="modal" class="edit-image" id="{{ img.id }}" data-target="#edit-image-modal" class="nav-item nav-link" href="">Edit</a>
                                </button>
                                <button type="button" class="btn btn-sm btn-outline-secondary boto-raro">
                                    <a class="remove-image" id="{{ img.id }}" href="/remove/{{ img.id }}">Delete</a>
                                </button>
                                </div>
                            {% endif %}
                        </figcaption>
                    </figure>
                </li>
            {% endfor %}



            <div class="modal fade" id="edit-profile-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog popup">
                    <div class="loginmodal-container">
                        <h1>Edit your Profile</h1><br>
                        <form method="post" action="/edit-profile" id="register-form" enctype="multipart/form-data" data-toggle="validator">
                            <div class="form-group has-feedback">
                                <label class="control-label">Username:</label>
                                <input type="text" name="user" placeholder="Username" maxlength="20" pattern="^[_A-z0-9]{1,}$" class="form-control">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Birthdate:</label>
                                <input type="date" name="birthdate" id="birthdate" class="form-control">
                                <div id="date-help" class="help-block with-errors"></div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Password:</label>
                                <input type="password" class="form-control" placeholder="Password" name="password" id="password" minlength="6" maxlength="12" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])[a-zA-Z0-9]{6,}$">
                                <div class="help-block">The password must be 6-12 characters long and contain lowercase, uppercase and numbers.</div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Confirm password:</label>
                                <input type="password" name="password2" placeholder="Confirm Password" class="form-control" data-match="#password" data-match-error="The passwords don't match.">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="imageupload panel panel-default form-group">
                                <label class="control-label">Icon:</label>
                                <div class="file-tab panel-body">
                                    <label class="btn btn-default btn-file">
                                        <span class="browse-button">Browse</span>
                                        <input type="file"  name="img" class="form-control" placeholder="Profile image">
                                    </label>
                                    <button type="button" class="btn btn-default">Remove</button>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="signup" value="Save changes" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="edit-image-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog popup">
                    <div class="loginmodal-container">
                        <h1>Edit this image</h1><br>
                        <form method="post" action="/edit-image/" id="editform" enctype="multipart/form-data" data-toggle="validator">
                            <div class="imageupload panel panel-default form-group">
                                <div class="file-tab panel-body">
                                    <label class="btn btn-default btn-file">
                                        <span class="browse-button">Browse</span>
                                        <input type="file" id="fitxer" name="img" class="form-control">
                                    </label>
                                    <button type="button" class="btn btn-default">Remove</button>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="title" placeholder="Image Title" class="form-control">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <label class="radio-label">Make Image Private</label><input type="checkbox" value="1" name="private">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="edit" class="login loginmodal-submit form-control" value="Upload Image">
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </ul>

{% endblock %}